*/node_modules/
node_modules
*/.bin/

.classpath

.project

.settings/

bin/lib/

Libs/

*.class

*.log

*.ctxt

.mtj.tmp/

*.jar

*.war

*.ear

*.zip

*.tar.gz

*.rar

hs_err_pid*

Libs/TempTestCase*.groovy

Libs/TempTempCase*.groovy

Libs/TempTestSuite*.groovy

Reports

settings/internal/com.kms.katalon.integration.analytics.properties

settings/internal/com.kms.katalon.integration.jira.properties

settings/internal/com.kms.katalon.composer.testcase.properties

.DS_Store
.idea
/test-results/
/playwright-report/
/playwright/.cache/
test-results.json
/results.xml
results.xml
./results.xml
/playwright-report/index.html
.env
enviroments/auth.json